<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="parkingmanager.hp.dit.himachal.com.hpparkingmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Splash_Screen_Activity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Navigation_Drawer_Main_Activity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Vehicle_In_Activity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vehicle_Out_Activity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Vehicle_Out_Details_Activity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity android:name=".Online_Inbox_Activity" />
        <activity android:name=".Online_Inbox_Details_Activity" />
        <activity android:name=".Online_Outbox_Activity" />
        <activity android:name=".Online_Outbox_Details_Activity" />
        <activity
            android:name=".Reports_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".List_Reports"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login_Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ReceiveMessage"
            android:theme="@style/Theme.Smspopuptheme"></activity>
    </application>

</manifest>